################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MicroserviceTemplate
/obj
/.vs/ProjectEvaluation
/.vs
/MSRecordsEngine - Backup.csproj
/MSRecordsEngine - Backup.csproj
